{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "news/css/news.css" %}" />{% endblock css %}
{% block title %}Новости{% endblock title %}
{% block head %}

{% endblock head %}
{% block title_h1 %}Хватит быть слабым{% endblock title_h1 %}
{% block header_span %}Делитесь планами тренировок и питания в один клик и отслеживайте прогресс своих клиентов с помощью единой удобной платформы{% endblock header_span %}
{% block content %}
    <div class="block-1">
        <div class="wrapper-text">
            <div class="name-block div-text">Индивидуальный подход к каждому клиенту</div>
            <div class="div-text">
                Составьте план тренировок по уже имеющимся <a href="/programms/">программам</a>
            </div>
            <div class="div-text">Для составления плана питания вам помогут готовые <a href="/food/">рационы и рецепты</a></div>
        </div>
        <div class="wrapper-img"><img src="/static/img/ind_podhod.png" alt="Индивидуальный подход" title="Индивидуальный подход"></div>
    </div>
    <div class="block-2">
        <div class="wrapper-img"><a name="one"></a><img src="/static/img/laifhack.png" alt="Индивидуальный подход" title="Индивидуальный подход"></div>
        <div class="wrapper-text">
            <div class="name-block div-text">Подчеркните свой профессионализм</div>
            <div class="div-text">
                Делитесь полезной информацией и лайфхаками в разделе <a href="/news/">новостей</a>
            </div>
        </div>
    </div>
    <h2><a name="two">Немного о программе тренировок</h2>
    <div class="row main-news">
        <div class="col-12 col-lg-9">
            <h3>Что дает план тренировок?</h3>
            <p>Систематизация занятий дает результат и максимум пользы. Даже «поддержание формы» — это цель и результат.</p>
            <h3>Определяем цели</h3>
            <p><a name="three">Первым делом нужно сформулировать желаемый результат. Затем выделяем основные направления в его достижении, например, выбираем подходящие виды нагрузки и функциональные секторы. Будут ли это занятия в тренажерном зале, в секции восточных единоборств или в любимом бассейне? Может, это будет йога? Или вам больше подойдут функциональные занятия с подружками после работы? План тренировок нужен везде.</p>
            <h3>Виды целей</h3>
            <p>Основные цели, которые могут послужить фундаментом вашей системы:</p>
            <ul>
                <li>набор мышечной массы</li>
                <li>похудение</li>
                <li>коррекция фигуры</li>
                <li>развитие физических качеств (координации, выносливости, силы, гибкости, ловкости)</li>
                <li>оздоровление, реабилитация</li>
                <li>получение нового навыка</li>
                <li>создание мышечного рельефа</li>
                <li>поддержание текущих результатов</li>
            </ul>
            <div><img class="main-img" src="/static/img/statiy-main3.png" alt="фитнес" title="фитнес"></div>
            <p><a name="four">После того, как определитесь с основной целью, следует выбрать место, где ваша мечта будет осуществляться! Если ранее не было опыта или ваш опыт еще мал, смело выбирайте фитнес-клуб, в котором есть все необходимые вам услуги. Никто не отменял разнообразие: в зависимости от вашей решительности, можно добавить комбинации нескольких видов нагрузки, дополняющих друг друга, что сократит сроки достижения желаемого.</p>
            <h3><a name="five"></a>Что делать дальше</h3>
            <p>А дальше – медицинское обследование и фитнес-тестирование, где будут отображены ваши показания и противопоказания, физиологическое состояние, особенности организма, степень подготовки и исходные параметры. Итак, фундамент заложен, теперь следует определиться, сколько времени необходимо выделить для своих занятий. Встаёт закономерный вопрос: любитель вы или профессионал?</p>
            <h3>Тайминг</h3>
            <p><a name="six"></a>Новичку требуется большее время на восстановление после силовой тренировки, да и организму следует плавно входить в непривычный для него режим, за что он позже будет благодарен. Поэтому новичок начинает с тренировок 2-3 раза в неделю. Далее количество занятий и время их проведения может корректироваться в обе стороны.</p>
            <p>Никто не отменял и оценку объема проделанной работы. Как правило, начинающие спортсмены тренируются 45-60 минут, включая время на разминку и заминку. Профессиональные спортсмены могут заниматься ежедневно, но один день в неделю обязательно отводится отдыху.</p>
            <h3>Питание и программа тренировок</h3>
            <p><a name="seven"></a>Питание имеет такое же значение, как и выбранные нагрузки – у нас, кстати, есть хорошие статьи об этом. Но кое-что хочется сказать тезисно. Во-первых, белок играет роль основного строительного материала для мышц. Что касается углеводов, то здесь нужно смотреть на потребности, главное – ни в коем случае не отказываться от них вовсе. Углеводы – это энергия, она расходуется на тренировках! Есть интересная формула, так называемая «пятерка», которая гласит, что ежедневно необходимо употреблять по пять порций овощей и фруктов – источников минералов, витаминов и микроэлементов, способствующих мягкому восстановлению организма. Из напитков предпочтение отдается воде, алкоголь желательно исключить из диеты вовсе, в том числе из-за калорийности.</p>
            <h3>Программа тренировок: принципы составления</h3>
            <p>Программа тренировок подразделяется на мышечные группы. Планы занятий различны для мужчин и женщин, однако тренировки на мышечные группы схожи.</p>
            <p>Новичку в план тренировок сначала ставятся общие занятия, дабы каждая мышечная группа получала одинаковую нагрузку. У таких тренировок есть свои особенности: они начинаются с проработки крупных мышечных групп, переходя к более мелким. Выглядит это примерно так: мышцы ног, спины, груди, плечевого пояса, рук, пресса. Как только организм почувствует что-то новое для себя, полностью оценит обстановку и даст вам обратную реакцию, план уводится в детали. Классификация детализируется уже не просто на крупные и мелкие мышечные группы, а на толкающие и тянущие. За толкающие отвечают мышцы груди, дельты, трицепса, тянущими же выступают мышцы ног, спины и бицепса.</p>
            <p>Не забывайте, что тренировочная программа должна следовать первоначальной цели, так что, если вы ее меняете, что тоже бывает, меняется и план занятий.
            </p>
            <div><img class="main-img" src="/static/img/statiy-main.png" alt="фитнес" title="фитнес"></div>
            <p>В день тренировки стоит делать акцент на одну крупную мышечную группу, можно добавить мелкую. Но есть ноги, которые делаются, как правило, уже без добавления упражнений на другие части тела. Например, оптимальный сплит на три дня может выглядеть так:</p>
            <ul>
                <li>1 день – тренировка грудных мышц и дельты</li>
                <li>2 день – тренировка мышц спины и рук</li>
                <li>3 день – тренировка ног</li>
            </ul>
            <p>Для набора мышечной массы следует выполнять базовые упражнения, задействующие одновременно несколько мышечных групп, начиная от сложных и заканчивая более простыми, изолирующими. Изолирующее упражнение – упражнение, в котором нагрузка приходится на одну отдельную мышцу.</p>
            <p>Важно определить количество подходов и повторений. Классический вариант включает в себя 3-4 подхода в каждом упражнении.</p>
            <p>Во время силовых тренировок последовательность выполнения упражнений требует соблюдения, что обусловлено спецификой данного вида нагрузки. Темп силовой тренировки тоже должен быть прописан в программе ваших тренировок. Начинайте силовую тренировку с основных упражнений, базовых, в порядке убывания степени воздействия.</p>
            <p><a name="eight"></a>Отдых между подходами играет значимую роль при выполнении упражнений и напрямую влияет на качество выполнения. Организуйте его правильно – с одинаковым интервалом между упражнениями.</p>
            <p>Также важно не забывать о разминке в начале тренировки и о заминке в конце. Качественная разминка помогает разогреть мышцы и подготовить их к работе, что защитит от получения травм. Для этого отлично подойдет суставная гимнастика и 5-10 минут на кардиотренажере. Вариантом заминки может быть растяжка.</p>
            <h3>Количество повторений</h3>
            <p>Количество повторений того или иного упражнения в вашем цикле зависит от выбранной цели. Каковы же основные правила?</p>
            <p>Все очень просто. Оптимальным количеством для жиросжигания будут 8-15 повторений за подход. Как показывают исследования, выполнение повторений в данном диапазоне стимулирует эффективную выработку гормонов, сжигающих жир. Большой, на первый взгляд, разброс в интервале, но здесь подключаются значения весов, которые вы берете в отягощение, и ваш уровень подготовки. Придерживаясь интервала, вы сможете менять количество повторений от тренировки к тренировке, например:</p>
            <ul>
                <li>8-10 повторений за подход</li>
                <li>10-12 повторений за подход</li>
                <li>12-15 повторений за подход</li>
            </ul>
            <div><img class="main-img" src="/static/img/statiy-main2.png" alt="фитнес" title="фитнес"></div>
            <p>Любой вариант, который вы предпочтете, поспособствует эффективному жиросжиганию, так что новичкам мы советуем начинать именно в таком порядке. Примерно через каждые несколько недель интервал можно увеличивать, прислушиваясь к своим ощущениям.
            </p>
            <p>В программе тренировок, направленной на увеличение мышечной массы, действует немного иной принцип. Бытует мнение, что для наращивания мышечной массы требуется число повторений до 8-12 раз за подход, только это не совсем верно.
            </p>
            <p>Революцию произвел английский культурист и хирург Ян Маккуин, который в своей работе рекомендовал выполнять гораздо большее количество повторений. Было проведено множество исследований с анализом показателей, в ходе чего оказалось, что гипертрофия мышечного корсета обеспечивается прогрессивно растущим рабочим весом. Достаточно при этом будет до 4-6 повторений за подход. Вот так!</p>
            <p>Консультанты по фитнесу вывели в тандеме с изданием «Men’s Health» следующую схему:
            </p>
            <ul>
                <li>Первый день – 5 повторений за подход</li>
                <li>Второй день – 15 повторений за подход</li>
                <li>Третий день – 10 повторений за подход</li>
            </ul>
            <p><a name="nine"></a>Ученые штата Аризона выявили отчетливое улучшение показателей, тренирующихся практически в два раза среди тех, кто в разные дни менял количество повторений в подходах в течение одной недели по сравнению с теми, кто делал одинаковое количество повторений за подход.</p>
            <p>Запомните – повторений, не приносящих пользу, не бывает! Их количество не случайно прописывается в программе тренировок. Мышцы адаптируются к подаваемому виду нагрузки в зависимости от количества повторений. Держа это в уме, составьте стратегию, которая наилучшим образом подойдет под ваши цели. Если вы решите поменять количество повторений, то изменения вы увидите не сразу, но они гарантированно будут.</p>
            <h3>Заключение</h3>
            <p>Ваше здоровье и ваше тело будут вам благодарны, если вы подойдёте к исполнению мечты продуманно и организованно. Программа тренировок дает столько эффективности, сколько вложено в ее детализацию и индивидуальный подход.</p>
        </div>
        <div class="col-3 main-right-menu d-none d-lg-block">
            
            <div class="main-right-menu-links">
                <h4>СОДЕРЖАНИЕ</h4>
                <a href="#one">Что дает план тренировок?</a>
                <a href="#two">Определяем цели</a>
                <a href="#three">Виды целей</a>
                <a href="#four">Что делать дальше</a>
                <a href="#five">Тайминг</a>
                <a href="#six">Питание и программа тренировок</a>
                <a href="#seven">Программа тренировок: принципы составления</a>
                <a href="#eight">Количество повторений</a>
                <a href="#nine">Заключение</a>
            </div>

        </div>
    </div>
{% endblock content %}
{% block script %}<script src="{% static "news/js/news.js" %}?v=2"></script>{% endblock script %}