@font-face {
    font-family: 'header';
    src: url(../fonts/header);
}
header img {
    max-width: 70px;
    margin-left: 1%;
}
header {
    position: relative;
}
header h1 {
    position: absolute;
    /* right: 43%;
    bottom: 10%; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* margin: auto; */
    font-family: 'header';
    font-style: italic;
    text-align: center;
}
nav li {
    padding: 0 !important;
    margin-right: 5px !important;
}
footer {
    margin: 0 auto !important;
    max-width: 1320px !important;
    padding: 20px;
}
footer div {
    text-align: center;
}
.header-max {
    margin: 0 auto !important;
    max-width: 1320px !important;
}
.content {
    margin-top: 128px;
    height: 60rem !important;
    overflow: auto;
}