{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/index.css" %}">{% endblock css %}
{% block title %}Программы{% endblock title %}

{% block content %}
    <div class="btn-group p-2 d-flex justify-content-center" role="group" aria-label="Базовая группа переключателей радио">
        <form>
            <input type="submit" class="btn-check" name="type" value="full" id="full" autocomplete="off">
            <label class="btn btn-outline-secondary" for="full">Все программы</label>
            {% for type in type_list %}
                <input type="submit" class="btn-check" name="type" value="{{type.id}}" id="{{type.id}}" >
                <label class="btn btn-outline-secondary" for="{{type.id}}">{{type.typeProgramms}}</label>
            {% endfor %}
        </form>
    </div>
    <div class="d-flex justify-content-around flex-wrap text-center">
        {% for programm in list_programms %}
        <div class="align-self-center m-2">
            <div class="card" style="width: 18rem;">
                <img src="{{ programm.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ programm.nameProgramm }}</h5>
                    <p class="card-text">{{ programm.bodyProgramm|truncatechars:100 }}</p>
                    <a href="{% url "detail_programm" programm.id %}" class="btn btn-secondary">Подробнее о программе</a>
                </div>
            </div>
        </div>
        {% endfor %}    
    </div>
{% endblock content %}